<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="file_property_dialog">
    <div class="modal fade" id="modalFileProperty" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">属性</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <div class="row mt-2">
                        <div class="col-4">名称</div>
                        <div class="col-8 text-end" field="name">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">大小</div>
                        <div class="col-8 text-end" field="size">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">创建时间</div>
                        <div class="col-8 text-end" field="date">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">路径</div>
                        <div class="col-8 text-end overflow-x-auto" field="path">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">文件类型</div>
                        <div class="col-7 text-end pe-0" field="contentType">
                        </div>
                        <div class="col-1 text-center px-0" role="button" onclick="onModifyContentTypeClick()">
                            <i class="bi bi-pencil-square"></i>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">文件夹数</div>
                        <div class="col-8 text-end" field="folderCount">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">文件数</div>
                        <div class="col-8 text-end" field="fileCount">
                        </div>
                    </div>
                    <div class="mt-2">
                        历史版本:
                        <div id="historyList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        /**
         * 文件属性数据
         */
        let filePropertyData

        /**
         * 显示分享详细信息
         */
        function showFilePropertyDialog(paths) {
            if (paths.length === 0) {
                paths = [getCurrentFolderByUrl()]
            }
            $.ajaxByData("/app/files/get_property").add("paths", paths).success(data => {
                filePropertyData = data
                for (let key in data) {
                    const $obj = $(`[field=${key}]`)
                    const value = data[key]
                    if (value == null || value === "") {
                        $obj.parent().hide()
                        continue
                    }
                    $obj.parent().show()
                    $obj.text(data[key])
                }
                fillHistory()
                const modalShare = new bootstrap.Modal('#modalFileProperty')
                modalShare.show()
            }).post()
        }

        /**
         * 填充历史记录列表
         */
        function fillHistory() {
            if (filePropertyData.historyList != null && filePropertyData.historyList.length > 0) {
                $("#historyList").parent().show()
                $("#historyList").createTable({
                    data: filePropertyData.historyList,
                    iconBtns: {
                        "bi-download": function (item) {
                            window.open("/app/files/download_history/" + item.id + "/" + filePropertyData.name)
                        }
                    },
                    columns: [
                        {
                            data: "date",
                            title: "日期"
                        },
                        {
                            data: "size",
                            title: "大小"
                        }
                    ]
                })
            } else {
                $("#historyList").parent().hide()
            }
        }

        /**
         * 修改文件类型点击事件
         */
        function onModifyContentTypeClick() {
            const contentType = prompt("修改文件类型", filePropertyData.contentType)
            if (contentType == null) {
                return
            }
            if (contentType === filePropertyData.contentType) {
                return
            }
            $.ajaxByData("/app/files/set_content_type").addAll({
                contentType: contentType,
                path: filePropertyData.path
            }).success(() => {
                filePropertyData.contentType = contentType
                $(`[field="contentType"]`).text(contentType)
            }).post()
        }

    </script>
</th:block>
</html>
