<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="top-bar">
<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DairoDFS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/app/files">文件</a>
                </li>
                <li class="nav-item" th:if="${IS_ADMIN}">
                    <a class="nav-link" href="/app/user_list">用户</a>
                </li>
                <li class="nav-item" th:if="${IS_ADMIN}">
                    <a class="nav-link" href="/app/profile">配置</a>
                </li>
                <li class="nav-item" th:if="${IS_ADMIN}">
                    <a class="nav-link" href="/app/sync">同步</a>
                </li>
                <li class="nav-item" th:if="${IS_ADMIN}">
                    <a class="nav-link" href="/app/advanced">高级</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/about">关于</a>
                </li>
            </ul>
            <div class="dropdown text-start text-sm-end" style="width: 160px">
                <button type="button"
                        class="btn btn-link dropdown-toggle px-0"
                        data-bs-toggle="dropdown">
                    <i class="bi bi-person-fill me-1"></i><span id="loginName"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/app/my_share"><i
                                class="bi bi-share me-2"></i>我的分享</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/trash"><i
                                class="bi bi-trash2 me-2"></i>垃圾箱</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/self_set">
                            <i class="bi bi-gear me-2"></i>设置</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/modify_pwd"><i
                                class="bi bi-shield-lock me-2"></i>修改密码</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="logout()"><i
                                class="bi bi-box-arrow-right me-2"></i>退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>

    function initTopBar() {

        //显示当前登录用户名
        $("#loginName").text(localStorage.getItem("name"))

        //得到当前url路劲部分
        const pathname = window.location.pathname;
        const navLinkList = $(".nav-link")
        for (let i = 0; i < navLinkList.length; i++) {
            const href = navLinkList[i].getAttribute("href")
            if (pathname.startWith(href)) {
                $(navLinkList[i]).addClass("active")
                break;
            }
        }
    }
</script>
</body>
</html>
