<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "head" .}}
    <title>安装ImageMagick</title>
</head>
<body class="bg-login">
<div class="text-center d-table" style="width: 100vw;height: 100vh;">
    <div class="d-table-cell align-middle" style="padding: 0 100px">
        <div class="d-inline-block border rounded bg-white p-3" style="max-width: 700px;">
            <span class="fs-4">安装ImageMagick</span>
            <div class="text-start">
                ImageMagick 是一个功能强大的开源软件套件，用于创建、编辑、转换和处理各种格式的图片。<br>
                它支持多种操作，包括调整大小、旋转、模糊、锐化、颜色调整、格式转换、合成等。<br>
                ImageMagick 主要通过命令行工具 convert、magick、mogrify 等进行操作
            </div>
            <div id="downloadInfo" class="mt-3" style="display: none;">
                <div class="progress" role="progressbar" aria-label="Example with label"
                     aria-valuemin="0" aria-valuemax="100">
                    <div id="progressBar" class="progress-bar" style="width: 0"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div id="speed">
                    </div>
                    <div id="downloaded">
                    </div>
                </div>
            </div>
            <div id="info" class="text-start p-2 mt-2"
                 style="background-color: black;color: white;width: 100%;height: 260px;border-radius: 6px;overflow-y: auto;">
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    4/8
                </div>
                <div>
                    <button id="btnInstall" class="btn btn-primary" onclick="onInstallClick()">安装</button>
                    <button id="btnNext" class="btn btn-primary" onclick="window.location.href='./exiftool'" disabled>
                        下一步
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    /**
     * 定义全局Websocket变量，避免重复创建
     * @type {null}
     */
    let progressWebsocket = null

    $(() => {
        showProgress()
    })

    /**
     * 初始化按钮点击事件
     */
    function onInstallClick() {
        $.ajaxByData("/app/install/magick/install").success(showProgress).post()
    }

    /**
     * 显示安装进度
     */
    function showProgress() {
        if(progressWebsocket != null){

            //关闭上次的连接，避免重复创建
            progressWebsocket.close()
        }
        progressWebsocket = new WebSocket(`ws://${location.host}/app/install/magick/progress`)
        progressWebsocket.onopen = function () {
            console.log("websocket连接成功")
        }
        progressWebsocket.onmessage = function (event) {
            const data = JSON.parse(event.data)
            updateProgress(data)
        }
    }
    function updateProgress(data){
        $("#info").text(data.info)
        if (data.isInstalled) {//已经安装完成
            $("#downloadInfo").hide()
            $("#btnNext").removeAttr("disabled")
            $("#btnInstall").hide()
            return
        }
        if (!data.isRuning) {//还没有开始安装
            $("#downloadInfo").hide()
            return
        }
        $("#downloadInfo").show()
        $("#progressBar").text(data.progress + "%").css("width", data.progress + "%")
        $("#speed").text(data.speed)
        $("#downloaded").text(`${data.downloadedSize}/${data.total}`)
    }
</script>
</body>
</html>
