<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="app/icd/css :: header('关于')"/>
</head>
<body>
<th:block th:include="app/icd/top-bar :: top-bar"/>

<div class="mx-3 mt-3 px-3 row g-0 rounded shadow bg-content-bar" style="line-height: 44px;">
    <div class="col-6 fs-5">关于</div>
    <div class="col-6 text-end" style="font-size: 0;">
    </div>
</div>
<div class="mx-3 mt-2 p-2 rounded shadow bg-content">
    DAIRO-DFS 将您的数据置于您的掌控之中。在您公司、家中、我们的一个供应商或您了解的数据中心里的服务器上保存您的文档、日历、联系人以及照片。
    <div>开源代码:<a href="https://github.com/DAIRO-HY/DairoDfs"
                     target="_blank">https://github.com/DAIRO-HY/DairoDfs</a></div>
</div>
<th:block th:include="app/icd/js :: js"/>
<script>
</script>
</body>
</html>
