<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="app/icd/css :: header('修改密码')"/>
</head>
<body class="bg-login">
<div class="text-center d-table" style="width: 100vw;height: 100vh;">
    <div class="d-table-cell align-middle">
        <div class="d-inline-block border rounded bg-white p-3" style="width: 300px;">
            <span class="fs-4">修改密码</span>
            <form action="/app/modify_pwd/modify">
                <div>
                    <input name="oldPwd" class="form-control mt-3" type="password" placeholder="旧密码"
                           autocomplete="off">
                </div>
                <div>
                    <input name="pwd" class="form-control mt-3" type="password" placeholder="新密码" autocomplete="off">
                </div>
                <div>
                    <input id="repwd" class="form-control mt-3" type="password" placeholder="确认新密码"
                           autocomplete="off">
                </div>
                <button type="button" class="btn btn-primary w-100 mt-4" onclick="onModifyClick()">修改</button>
            </form>
        </div>
    </div>
</div>
<th:block th:include="app/icd/js :: js"/>
<script>

    /**
     * 修改按钮点击事件
     */
    function onModifyClick() {
        const pwd = $("[name='pwd']").val()
        const repwd = $("#repwd").val()
        if (pwd !== repwd) {
            alert("两次输入密码不一致")
            return
        }
        $("form").ajaxByForm().success(() => {
            alert("修改成功")
            history.back()
        }).post()
    }
</script>
</body>
</html>
