<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="app/icd/css :: header('提取文件')"/>
</head>
<body>

<th:block th:if="${USER_ID != null}" th:include="app/icd/top-bar :: top-bar"/>

<!--文件操作导航视图-->
<th:block th:include="app/icd/share/share_toolbar :: share_toolbar"/>

<!--文件列表视图-->
<th:block th:include="app/icd/share/share_list :: share_list"/>

<!--右键菜单视图-->
<th:block th:include="app/icd/share/share_right_option :: share_right_option"/>

<!--文件夹选择框-->
<th:block th:include="app/icd/folder_selector :: folder_selector"/>

<th:block th:include="app/icd/js :: js"/>
<script>
</script>
</body>
</html>
