<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="app/icd/css :: header('创建管理员')"/>
</head>
<body class="bg-login">
<div class="text-center d-table" style="width: 100vw;height: 100vh;">
    <div class="d-table-cell align-middle" style="padding: 0 100px">
        <div class="d-inline-block border rounded bg-white p-3" style="max-width: 700px;min-width: 300px">
            <span class="fs-4">创建管理员</span>
            <form action="/app/install/create_admin/add_admin">
                <div>
                    <input name="name" class="form-control mt-3" type="text" placeholder="用户名" autocomplete="off">
                </div>
                <div>
                    <input name="pwd" class="form-control mt-3" type="password" placeholder="密码" autocomplete="off">
                </div>
                <div>
                    <input id="repwd" class="form-control mt-3" type="password" placeholder="确认密码"
                           autocomplete="off">
                </div>
                <div class="d-flex justify-content-between mt-5">
                    <div>
                        6/6
                    </div>
                    <div>
                        <button type="button" id="btnPre" class="btn btn-primary"
                                onclick="window.location.href='distributed'">
                            上一步
                        </button>
                        <button type="button" id="btnInstall" class="btn btn-primary" onclick="onInitClick()">创建
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:include="app/icd/js :: js"/>
<script>

    /**
     * 初始化按钮点击事件
     */
    function onInitClick() {
        const pwd = $("[name='pwd']").val()
        const repwd = $("#repwd").val()
        if (pwd !== repwd) {
            alert("两次输入密码不一致")
            return
        }
        $("form").ajaxByForm().success(() => {
            window.location.href = "/app/login"
        }).post()
    }
</script>
</body>
</html>
