<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "head" .}}
    <title>高级功能</title>
</head>
<body>
{{template "top-bar" .}}
<div class="mx-3 mt-2 p-2 rounded shadow bg-content">
    <div class="row">
        <div class="col-auto">
            <div class="alert alert-primary">文件处理状态：<span id="fileHandling"></span></div>
        </div>
        <div class="col-auto">
            <div class="alert alert-success"><span id="recycleStorageTimerState"></span></div>
        </div>
        <div class="col-auto">
            <div class="alert alert-info"><span id="storageState"></span></div>
        </div>
    </div>
    <textarea class="form-control" id="sql"></textarea>
    <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2">
        <div class="col">
            <button type="button" class="btn w-100 btn-primary mt-2" onclick="onExecClick()">执行</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-dark mt-2" onclick="onDeleteExtraClick()">重置附属文件</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-info mt-2" onclick="onDeletePreVideoClick()">重置预览视频
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-danger mt-2" onclick="onDeletePreviewClick()">重置预览图片
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-success mt-2" onclick="onDeleteThumbClick()">重置缩略图片
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-primary mt-2" onclick="onClearPropertyClick()">重置属性</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-dark mt-2" onclick="onHandlingClick()">未处理的文件</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-info mt-2" onclick="onHandlingErrorClick()">处理失败的文件
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-danger mt-2" onclick="onHandErrorRetryClick()">处理失败全部重试
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-success mt-2" onclick="onReHandleClick()">开启文件处理</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-primary mt-2" onclick="onNotUseCountClick()">未使用文件数量</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-dark mt-2" onclick="onRecycleNowClick()">回收未使用文件</button>
        </div>
        <div class="col">
            <button type="button" class="btn w-100 btn-info mt-2" onclick="onWithoutStorageClick()">储存丢失的文件</button>
        </div>
    </div>
    <div class="text-start">
        <div id="result"></div>
        <div id="table"></div>
    </div>
</div>
<script>

    $(function () {
        init()
    })

    function init() {
        $.ajaxByData("advanced/init").success(data => {
            for(let key in data){
                $("#" + key).text(data[key])
            }
        }).post()
    }

    function onExecClick() {
        const sql = $("#sql").val()
        if (sql === "") {
            $("#table").empty()
            $("#result").empty()
            return
        }
        $.ajaxByData("advanced/exec_sql").add("sql", $("#sql").val()).fail().success(data => {
            fillDataTable(data)
        }).post()
    }

    /**
     * 查看正在处理中的文件
     */
    function onHandlingClick() {
        $("#sql").text("select count(*) from dfs_file where state = 0 and storageId > 0")
        onExecClick()
    }

    /**
     * 查看处理失败
     */
    function onHandlingErrorClick() {
        $("#sql").val("select id,userId,name,size,date,property,state,stateMsg from dfs_file where state = 2")
        onExecClick()
    }

    /**
     * 重置文件属性
     */
    function onClearPropertyClick() {
        if (confirm("重置文件属性")) {
            $("#sql").val("update dfs_file set property = null,state = 0 where storageId > 0 and isExtra = 0")
            onExecClick()
        }
    }

    /**
     * 处理失败全部重试
     */
    function onHandErrorRetryClick() {
        if (confirm("确定要处理失败全部重试")) {
            $("#sql").val("update dfs_file set state = 0 where state = 2")
            onExecClick()
        }
    }

    /**
     * 重新生成缩略图片
     */
    function onDeleteThumbClick() {
        if (confirm("确定要重新生成缩略图片")) {
            $("#sql").val("delete from dfs_file where isExtra = 1 and name = 'thumb';update dfs_file set state = 0 where storageId > 0 and isExtra = 0")
            onExecClick()
        }
    }

    /**
     * 重新生成预览图片
     */
    function onDeletePreviewClick() {
        if (confirm("确定要重新生成预览图片")) {
            $("#sql").val("delete from dfs_file where isExtra = 1 and name = 'preview';update dfs_file set state = 0 where storageId > 0 and isExtra = 0")
            onExecClick()
        }
    }

    /**
     * 重新生成预览视频
     */
    function onDeletePreVideoClick() {
        if (confirm("重新生成预览视频")) {
            $("#sql").val("delete from dfs_file where isExtra = 1 and name in ('1920','1280','640');update dfs_file set state = 0 where storageId > 0 and isExtra = 0")
            onExecClick()
        }
    }

    /**
     * 重置附属文件
     */
    function onDeleteExtraClick() {
        if (confirm("重新生成预览视频")) {
            $("#sql").val("delete from dfs_file where isExtra = 1;update dfs_file set state = 0 where storageId > 0 and isExtra = 0")
            onExecClick()
        }
    }

    /**
     * 未使用文件数量
     */
    function onNotUseCountClick() {
        $("#sql").val("select count(*) from storage_file where id not in (select storageId from dfs_file where storageId > 0) and id not in (select storageId from dfs_file_delete)")
        onExecClick()
    }

    /**
     * 开始处理线程
     */
    function onReHandleClick() {
        $.ajaxByData("advanced/re_handle").success().post()
    }

    /**
     * 立即回收未使用的文件
     */
    function onRecycleNowClick() {
        if (confirm("确定要立即回收未使用的文件")) {
            $.ajaxByData("advanced/recycle_now").success().post()
        }
    }

    /**
     * 储存丢失的文件
     */
    function onWithoutStorageClick(){
        $("#sql").val("select * from dfs_file where storageId > 0 and storageId not in (select id from storage_file)")
        onExecClick()
    }


    /**
     * 填充表格数据
     * @param data 要填充的数据
     */
    function fillDataTable(data) {
        if (!isNaN(data)) {
            $("#table").empty()
            $("#result").text("执行结果:" + data)
            return
        }
        $("#result").empty()

        const columns = []
        if (data.columns.length > 0) {
            for (let index in data.columns) {
                columns.push({
                    data: data.columns[index],
                    title: data.columns[index]
                })
            }
        }
        $("#table").createTable({
            data: data.data,
            columns: columns
        })
    }

</script>
</body>
</html>
