<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "head" .}}
    <title>同步状态</title>
    <style>
        /* 定义旋转动画 */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        /* 应用动画到图标 */
        .rotate-icon {
            animation: spin 2s linear infinite;
        }
    </style>
</head>
<body>
{{template "top-bar" .}}
<div class="m-3 p-2 rounded shadow bg-content">
    <div class="text-start">
        <div id="table"></div>
    </div>
    <button class="btn btn-primary" type="button" onclick="onSyncClick()">日志同步</button>
    <button class="btn btn-primary" type="button" onclick="onSyncAllClick()">全量同步</button>
</div>
<script>

    let socket = null
    $(function () {
        getInfoList()
    })

    function getInfoList() {
        $.ajaxByData("./sync/info_list").success(data => {
            fillDataTable(data)
            openSocket()
        }).post()
    }

    /**
     * 填充表格数据
     * @param data 要填充的数据
     */
    function fillDataTable(data) {
        $("#table").createTable({
            data: data,
            columns: [
                {
                    data: "no",
                    title: "NO"
                },
                {
                    data: "url",
                    title: "URL"
                },
                {
                    data: "state",
                    title: "状态",
                    defaultContent: "",
                    render: function (value) {
                        if (value === undefined || value === 0) {
                            return `<i class="bi bi-clock-fill text-secondary"></i> 空闲`
                        } else if (value === 1) {
                            return `<div class="d-inline-block rotate-icon"><i class="bi bi-fan text-success"></i></div>`
                        } else if (value === 2) {
                            return `<i class="bi bi-emoji-angry-fill text-danger"></i>`
                        } else {
                            return value
                        }
                    }
                },
                {
                    data: "lastTime",
                    title: "最后同步时间"
                },
                {
                    data: "lastHeartTime",
                    title: "最后心跳时间"
                },
                {
                    data: "syncCount",
                    title: "日志数",
                    defaultContent: "0",
                },
                {
                    data: "msg",
                    title: "消息",
                    defaultContent: "",
                }
            ]
        })
    }

    /**
     * 日志同步按钮点击事件
     */
    function onSyncClick() {
        $.ajaxByData("./sync/by_log").success(() => {
            getInfoList()
        }).post()
    }

    /**
     * 全量同步按钮点击事件
     */
    function onSyncAllClick() {
        $.ajaxByData("./sync/by_table").success(() => {
            getInfoList()
        }).post()
    }

    function openSocket() {
        if (socket != null){
            socket.close()
        }
        socket = new WebSocket(`ws://${location.host}/app/sync/info`);
        socket.onopen = function (e) {
            // console.log("Connection established");
            // socket.send("Hello Server");
        };
        socket.onmessage = function (event) {
            const msg = event.data
            if (msg === "0") {
                return
            }
            const $table = $("#table").find("table")
            const datatable = $table.DataTable()
            const data = JSON.parse(event.data)
            for(let key in data){
                const index = parseInt(key)

                // 获取第一行的数据对象
                const rowData = datatable.row(index).data();
                for(let vkey in data[key]){//仅更新现有的字段
                    rowData[vkey] = data[key][vkey]
                }

                // 重新设置该行的数据
                datatable.row(index).data(rowData);
            }

            //重绘
            datatable.draw();
        };
    }
</script>
</body>
</html>
