{{define "head"}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/static/plugins/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/bootstrap-icons-1.11.1/bootstrap-icons.min.css" rel="stylesheet">
<link href="/static/plugins/datatable/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/app/res/common/css/common.css">

<script src="/static/plugins/jquery-3.6.3.min.js"></script>
<script src="/static/plugins/bootstrap-5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/datatable/datatables.min.js"></script>
<script src="/static/plugins/datatable/dataTables.bootstrap5.min.js"></script>
<script src="/static/plugins/md5.js"></script>
<script src="/static/app/res/common/js/common.js"></script>
<script src="/static/app/res/common/js/jquery.datatable++.js"></script>
<script src="/static/app/res/common/js/jquery++.js"></script>
<script src="/static/app/res/common/js/ApiHttp.js"></script>
{{end}}